<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Basic Vue Js - HelloWorld App</title>

  <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
  <!-- Using via Google Web Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- https://tailwindcss.com/docs/installation -->
  <!-- Using Tailwind via CDN -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

  <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@next"></script>
  <link href="style.css" rel="stylesheet">
</head>

<body>
  <div id="app" class="">
    <div class="mx-auto container">

      <!-- navbar -->
      <div class="flex items-center justify-between bg-black text-white h-10">
        <photo-search :selecticon="show.icon" :selectbar="show.searchbar" @toggle="toggle"></photo-search>
        <!-- <span v-if="show.icon" @click="toggle" class="material-icons">
          search
        </span>

        <div v-if="show.searchbar">
          <input v-model="input"
            class="ml-2 p-1 w-80 placeholder-gray-500 placeholder-opacity-50 focus:outline-none text-black rounded-sm"
            type="text" placeholder="Please enter text for searching photos">
          <button class="ml-2 p-1 rounded-sm focus:outline-none bg-blue-500" @click="toggle">Cancel</button>
        </div> -->

        <count-photo :count="countPhoto"></count-photo>
      </div>

      <select-photo :selectstatus="select_image" :select="searchSelectPhoto" @closephoto="closePhoto"></select-photo>
    </div>

    <div class="m-5">
      <photo-set :photoset="photos" @searchphotos="searchphotos" @zoomphoto="zoomPhoto" @fav="favorite"></photo-set>
    </div>
  </div>


  <script src="./main.js"></script>
  <script src="components/PhotoItem.js"></script>
  <script src="components/PhotoSearch.js"></script>
  <script src="components/PhotoView.js"></script>

  <script>
    const mountedApp = app.mount('#app')
  </script>
</body>

</html>